.rbit-plugin { padding: 1em; }
.rbit-plugin .logo-links { margin-bottom: 2.5em; }
.rbit-plugin .logo-links a img { border: 1px solid transparent; }
.rbit-plugin .logo-links a:hover img { border: 1px solid #DEDEDE;}
.rbit-plugin fieldset { margin-bottom: 1em; }
.rbit-plugin.predef-form fieldset.rows label,
.rbit-plugin.predef-form label { width: 20em; display: inline-block; text-align: right; margin-right: 1em; }
.rbit-plugin span.appended-label { margin: 0 1em; }
.rbit-plugin .form-field { margin: 5px 0; }
.rbit-plugin .form-field > * { vertical-align: middle; }
.rbit-plugin input.on-off { margin: 0 1em; }
.rbit-plugin input[type="number"] { width: 5em; }
.rbit-plugin .hint { font-style: italic; color: #555555; }
.rbit-plugin label.radio-label { width: auto; padding-left: 0.5em; }
.rbit-plugin table.check-borrowers-results th { text-align: left; }
.rbit-plugin .gdpr { display: inline-block; }
.rbit-plugin .gdpr label { width: auto; text-align: left; margin-left: 1em; }
.rbit-plugin #count_email_any,
.rbit-plugin #count_email_yes,
.rbit-plugin #count_sms_any,
.rbit-plugin #count_sms_yes,
.rbit-plugin #count_nomailsms_any,
.rbit-plugin #count_nomailsms_yes {
  margin-bottom: 5px;
  border: 1px solid #B9D8D9;
  border-radius: 4px;
  padding: 0.5em;
  background-color: #E6F0F2;
  width: auto;
}
.rbit-plugin #count_email_any,
.rbit-plugin #count_sms_any,
.rbit-plugin #count_nomailsms_any,
.rbit-plugin #count_nomailsms_yes { display: none; }
.rbit-plugin pre.sql { margin: 2em; padding: 2em; border: 1px solid #B9D8D9; border-radius: 4px; background-color: #E6F0F2; }
.rbit-plugin ul.sql { margin: 0 2em; padding: 0 2em; list-style-type: square; }
.rbit-plugin #msgtext { height: 8em; }
.rbit-plugin .template-hint { margin-left: 2em; }
.rbit-plugin .radios label { font-weight: normal; margin-left: 1em; display: inline; }
.rbit-plugin .rcpt-count { padding-top: 1em; }
.rbit-plugin #sms_nomail { margin-left: 1em; }
.rbit-plugin #sms_nomail_label { margin-left: 0.5em; }
.rbit-plugin label.disabled { color: #AAAAAA; }
.rbit-plugin #toolbar .btn-success { color: #ffffff; }
.rbit-plugin .sent { margin: 1em 0; }
.rbit-plugin .dialog.message { padding: 1.5em 0; }
.rbit-plugin .charcounter { font-weight: normal; margin-left: 1em; }
.rbit-plugin .charmax { font-weight: normal; }
.rbit-plugin .data-container { display: none; }
.rbit-plugin .alert { max-width: fit-content; }