[% INCLUDE 'doc-head-open.inc' %]
 <title>Koha: Přímé oslovování čtenářů: Zobrazení SQL</title>
[% INCLUDE 'doc-head-close.inc' %]
 <link href="[% PLUGIN_PATH %]/css/direct-mail.css" rel="stylesheet" type="text/css" />
</head>
<body>
[% INCLUDE 'header.inc' %]
<nav id="breadcrumbs" aria-label="Breadcrumb" class="breadcrumb">
  <ol>
    <li><a href="/cgi-bin/koha/mainpage.pl"> Koha</a></li>
    <li><a href="/cgi-bin/koha/tools/tools-home.pl"> Nástroje</a></li>
    <li><a href="/cgi-bin/koha/plugins/plugins-home.pl"> Zásuvné moduly</a></li>
    <li><a href="/cgi-bin/koha/plugins/run.pl?class=[% CLASS %]&amp;method=tool"> Přímé oslovování čtenářů</a></li>
    <li><a href="#" aria-current="page"> Zobrazení SQL</a></li>
  </ol>
</nav>

<div id="doc3" class="rbit-plugin">
    <div class="logo-links">
        <a href="https://www.koha.cz" target="_blank"><img src="[% PLUGIN_PATH %]/koha_cz.png" /></a>
        <a href="https://www.koha-v-knihovne.cz" target="_blank"><img src="[% PLUGIN_PATH %]/logo.png" /></a>
        <a href="https://www.mkcr.cz" target="_blank"><img src="[% PLUGIN_PATH %]/logo_mkcr.png" /></a>
    </div>

    <div id="toolbar" class="btn-toolbar">
            <div class="btn-group">
                <a class="btn btn-default btn-sm" href="/cgi-bin/koha/plugins/run.pl?class=[% CLASS %]&amp;method=tool&amp;phase=edit">
                    <i class="fa fa-plus"></i> Nová předvolba
                </a>
            </div>
    </div>

    <h3>Přímé oslovování čtenářů: Zobrazení SQL</h3>

    <pre class="sql">[% query %]</pre>
    <ul class="sql">
      [% FOREACH param IN bind_params %]
        <li>[% param %]</li>
      [% END %]
    </ul>

</div>

[% INCLUDE 'intranet-bottom.inc' %]
